{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "rules": {
      "import/prefer-default-export": "off",
      "max-len": ["error", { "code": 120 }],
      "no-console": "off",
      "linebreak-style": "off"
    },
    "ignorePatterns": [
      "jest.config.js"
    ]
}