{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": 2019,
      "sourceType": "module",
      "project": "./tsconfig.json"
    },
    "rules": {
    },
    "ignorePatterns": [
      "jest.config.js"
    ]
}